/* Affects everything! */
* {
  font-family: Arial;
}

/* Affects all the headings */
h1, h2, h3 {
  text-align: justify;
  font-weight: 500;
}

/* Affects the title */
h1 {
  color: cyan;
}

/* Affects the headings */
h2 {
  color: magenta;
  text-align: center;
}

/* Affects the sub-headings */
h3 {
  color: darkmagenta;
}

/* Affects the paragraph text */
p {
  text-align: justify;
  font-weight: 400;
  color: white;
  font-stretch: 200%;
  margin: 30px;
}

/* Affects the lists */
ul {
    text-align: justify;
    font-weight: 400;
    color: white;
}

/* Background colour */
body {
  background-color: darkslategray;
}

/* Button */
.button {
  width: 100%;
  font-size: 24px;
  background-color: cyan;
  color: black;
  padding: 50px;
}
